<h2>Welcome to the City Dog Share calendar app</h2>
<ul>
  <li><a href="/auth/facebook/?type=login" id="log_in">Login with Facebook</a></li>
</ul>
<% if flash[:notice] %>
  <div class="ui warning message"><i class="warning icon"></i>
    <%= flash[:notice] %>
      <br>
  </div>
<% end %>
