// Place all the styles related to the Kalendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#kalendar {
	      //font-family: verdana, arial, helvetica, sans-serif;
    color: #333;
    line-height: 24px;
    font-size: 13px;
      
    h2 {
    	font-size: 24px;
    }
    
    h3 {
    	font-size: 15px;
    }

   .btn {
      background: #3498db;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3498db), to(#2980b9));
      background-image: -webkit-linear-gradient(#3498db, #2980b9);
      background-image: -moz-linear-gradient(#3498db, #2980b9);
      background-image: -o-linear-gradient(#3498db, #2980b9);
      background-image: linear-gradient(#3498db, #2980b9);
      -webkit-border-radius: 17;
      -moz-border-radius: 17;
      border-radius: 17px;
      font-family: Arial;
      color: #ffffff;
      font-size: 14px;
      padding: 3px 15px 3px 15px;
      text-decoration: none;
      
    }
      
    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3cb0fd), to(#3498db));
      background-image: -webkit-linear-gradient(#3cb0fd, #3498db);
      background-image: -moz-linear-gradient(#3cb0fd, #3498db);
      background-image: -o-linear-gradient(#3cb0fd, #3498db);
      background-image: linear-gradient(#3cb0fd, #3498db);
      text-decoration: none;
    }
    
    .btn-right {
      background: #3498db;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3498db), to(#2980b9));
      background-image: -webkit-linear-gradient(#3498db, #2980b9);
      background-image: -moz-linear-gradient(#3498db, #2980b9);
      background-image: -o-linear-gradient(#3498db, #2980b9);
      background-image: linear-gradient(#3498db, #2980b9);
      -webkit-border-radius: 17;
      -moz-border-radius: 17;
      border-radius: 17px;
      font-family: Arial;
      color: #ffffff;
      font-size: 14px;
      padding: 3px 15px 3px 15px;
      text-decoration: none;
      float: right;
      margin-right:10px;
    }
      
    .btn-right:hover {
      background: #3cb0fd;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3cb0fd), to(#3498db));
      background-image: -webkit-linear-gradient(#3cb0fd, #3498db);
      background-image: -moz-linear-gradient(#3cb0fd, #3498db);
      background-image: -o-linear-gradient(#3cb0fd, #3498db);
      background-image: linear-gradient(#3cb0fd, #3498db);
      text-decoration: none;
    }
    
    .btn-inverted {
      -webkit-border-radius: 17;
      -moz-border-radius: 17;
      border-radius: 17px;
      font-family: Arial;
      color: #000000;
      font-size: 14px;
      background: #ffffff;
      padding: 3px 15px 3px 15px;
      border: solid #1f628d 2px;
      text-decoration: none;
    }

    .btn-inverted:hover {
      background: #3cb0fd;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3cb0fd), to(#3498db));
      background-image: -webkit-linear-gradient(#3cb0fd, #3498db);
      background-image: -moz-linear-gradient(#3cb0fd, #3498db);
      background-image: -o-linear-gradient(#3cb0fd, #3498db);
      background-image: linear-gradient(#3cb0fd, #3498db);
      text-decoration: none;
    }

    pre {
      background-color: #eee;
      padding: 10px;
      font-size: 11px;
    }
    
    a {
      color: #000;
      &:visited {
        color: #666;
      }
      &:hover {
        color: #fff;
        background-color: #000;
      }
    }
    
    div {
      &.field, &.actions {
        margin-bottom: 10px;
      }
    }
    
    #notice {
      color: green;
    }
    
    .field_with_errors {
      padding: 2px;
      background-color: red;
      display: table;
    }
    
    #error_explanation {
      width: 450px;
      border: 2px solid red;
      padding: 7px;
      padding-bottom: 0;
      margin-bottom: 20px;
      background-color: #f0f0f0;
      h2 {
        text-align: left;
        font-weight: bold;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        margin: -7px;
        margin-bottom: 0px;
        background-color: #c00;
        color: #fff;
      }
      ul li {
        font-size: 12px;
        list-style: square;
      }
    }
}

#create_event_dialog {
  height: 65vh !important;
  font-size: 13px;
}
